<ion-view class="" view-title="Welcome WorldPoke">
  <ion-content class="padding">
    <div class="row">
       <div class="col borde"><video autoplay controls src="../vid/Agua1.mp4"width="300" heigth="300"></video>
       </div>
    </div>
  <header>
    <nav>
      <ul>
        <li><a href="#">Ciclo del Agua</a></li>
        <li><a href="#">¿Porqué es importante el agua para el ser humano?</a></li>
        <li><a href="#">Fases del agua</a></li>
      </ul>
    </nav>
  </header>
    <title>Bienvenidos</title>
    <body>
  <div class="ctn-welcome">

    <img src="" alt="" class="Logo-welcome">
    <h1 class="title-welcome">Welcome To <br>WorldPoke</h1>
    <a href="#" class="close-ses-sesion"></a>
    
  </div>
</body>
  </ion-content>
</ion-view>
