/* Empty. Add your own CSS if you like */
.body{
background: url(https://i0.wp.com/wallpapercave.com/wp/ViUV0a2.jpg)no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
-background-size:cover;

}


/* bIenvenida*/
.ctn-welcome{
	width: 100%;
	max-width: 400px;
	text-align: center;
	padding: 40px;
	margin: auto;
	margin-top: 90px;
	background-color: #FA1C37;
	border-radius: 20px;
}
.h1 {
	background-color: #F5F2F2;
}